<div id="<%= dom_id climb %>">
  <p>
    <strong>Name:</strong>
    <%= climb.name %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= climb.grade_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= climb.location %>
  </p>

  <p>
    <strong>Climb type:</strong>
    <%= climb.climb_type %>
  </p>

  <p>
    <strong>Attempts:</strong>
    <%= climb.attempts %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= climb.comments %>
  </p>

</div>
