<%= form_with(model: climb) do |form| %>
  <% if climb.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(climb.errors.count, "error") %> prohibited this climb from being saved:</h2>

      <ul>
        <% climb.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% if climb.climb_type == "outdoor" %>
  <div>
    <%= form.label :name, "Climb Name", style: "display: block" %>
    <%= form.text_field :name %>
  </div>
<% else %>
  <div>
    <%= form.label :name, "Centre Name", style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <% end %>
  <div>
    <%= label_tag :grade_category, "Climb Style", style: "display: block" %>
    <%=
      select_tag :grade_category,
        options_from_collection_for_select(@grade_categories, :id, :name),
        data: { controller: "grade-categories", action: "change->grade-categories#change" },
        include_blank: true,
        id: "grade_category_select"
     %>
  </div>

  <div>
    <%= form.label :grade_id, style: "display: block" %>
    <%=turbo_frame_tag "grades" do %>
      <%= form.select :grade_id, options_for_select([]), iniclude_blank: true %>
    <% end %>
  </div>

  <% if climb.climb_type == "outdoor" %>
  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>
  <% end %>

  <div>
    <%= form.label :climb_type, style: "display: block" %>
    <%= form.text_field :climb_type %>
  </div>

  <div>
    <%= form.label :attempts, style: "display: block" %>
    <%= form.number_field :attempts %>
  </div>

  <div>
    <%= form.label :comments, style: "display: block" %>
    <%= form.text_area :comments %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>